/* Notification */

paper-card[rel="noti"]{
    position:absolute;
    width:256px;
    height:100%;
    right:0px;
    top:0px;
    z-index:1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

    paper-card[rel="noti"].ng-hide {
        right:-256px;
    }