<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<dom-module id="dealer-deal-details">

    <template>

        <paper-item>
            <paper-item-body >
        
                <div style="color:gray;display:flexbox;justify-content:space-between">
                    <span>Total Deal: <b>{{totalDeal}}</b></span><br />
                    <span>Completed Deal: <b>{{completedDeal}}</b></span><br />
                    <span>Deal Pending: <b>{{dealPending}}</b></span><br />
                </div>
                </paper-item-body>
</paper-item>

</template>
</dom-module>

<script>

    Polymer({

        is: 'dealer-deal-details',

        properties: {

            totalDeal: {
                type: String,
                notify: true
            },

            completedDeal: {
                type: String,
                notify: true
            },

            dealPending: {
                type: String,
                notify: true
            }

        }
    });
    

</script>
