
<link rel="import" href="Views/Admin/dealer-deal-details.html" />
<link rel="import" href="Views/Admin/dealer-profile-details.html" />
<link rel="import" href="Views/Admin/dealer-info.html" />
<link rel="import" href="bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html" />
<link rel="import" href="Elements/boi-avatar/boi-avatar.html" />
<link rel="import" href="bower_components/paper-input/paper-input.html" />
<link rel="import" href="bower_components/iron-icons/social-icons.html" />
<link rel="import" href="bower_components/paper-fab/paper-fab.html" />


<paper-card class="col-xs-12 " style="height:100%;overflow:hidden;display:inline-flex" elevation="3">

   <paper-header-panel id="dealerList" class="{{selected? 'shrinked': ''}}">
        <paper-toolbar >
            <paper-icon-button id="paperToggle" icon="menu" paper-drawer-toggle ></paper-icon-button>
            <!--<paper-item class="flex" ng-show="!search" style="padding:0px;">
                <paper-item-body two-line>
                    <div style="color:black;">Dealers</div>
                    <div secondary style="color:grey">
                        Total : {{dealers.length}} Records
                    </div>
                </paper-item-body>
            </paper-item>-->
            <span class="flex" ng-show="!search">Dealer List</span>
            <paper-icon-button icon="search" ng-click="search = true;" ng-show="!search"></paper-icon-button>
            <paper-icon-button icon="social:person-add" ng-show="!search"></paper-icon-button>
            <paper-icon-button icon="arrow-back"  ng-click="search = false;" ng-show="search"></paper-icon-button>
            <paper-input label="Search" class="flex" type="search" ng-show="search" no-label-float style="margin-left:18px;"></paper-input>
        </paper-toolbar>
        <div style="position:relative;">
            <dealer-info ng-repeat="dealer in dealers"
                         name="{{dealer.name}}"dealer-id="{{dealer.dealerId}}" bind-polymer ng-click="select(dealer)"></dealer-info>
            </div>
</paper-header-panel>



    <paper-header-panel id="dealerDetail" class="{{selected? 'grow': ''}}">
        <paper-toolbar style="border-left:1px solid rgb(200, 200, 200)">
            <paper-icon-button icon="close"  ng-click="select(null)"></paper-icon-button>

            <paper-item>
                <paper-item-body two-line>
                    <div>More Info</div>
                    <div secondary >
                        {{selected.name}}
                    </div>
                </paper-item-body>
            </paper-item>

        </paper-toolbar>
        <!--<div class="paper-header col-xs-12" style="height:64px;background-color:#eee" ></div>-->
        <div>
            <boi-avatar></boi-avatar>
            <paper-card heading="Profile" style="width:80%; margin-left:10%;margin-right:10%;margin-top:28px;margin-bottom:28px;">
                <dealer-profile-details ng-repeat="profiles in selected.profile"
                                        date-created="{{profiles.dateCreated}}"
                                        company-name="{{profiles.companyName}}"
                                        status="{{profiles.status}}"
                                        last-activity="{{profiles.lastActivity}}"></dealer-profile-details>
                
                <br />
            </paper-card>
            <paper-card heading="Deal" style="width:80%; margin-left:10%;margin-right:10%;margin-top:28px;margin-bottom:28px;">
             <dealer-deal-details ng-repeat="deals in selected.deal"
                                      total-deal="{{deals.totalDeal}}"
                                      completed-deal="{{deals.completedDeal}}"
                                      deal-pending="{{deals.dealPending}}"></dealer-deal-details>
                <br />
            </paper-card>
            <paper-button primary raised style="width:80%; margin-left:10%;margin-right:10%;margin-top:28px;margin-bottom:28px;">Edit Dealer</paper-button>
            <paper-button error raised style="width:80%; margin-left:10%;margin-right:10%;margin-top:28px;margin-bottom:28px;">Deactivate Dealer</paper-button>
        </div>
    </paper-header-panel>
</paper-card>

<style>
    #dealerList {
        -webkit-transition: all 0.3s ease-in-out 0.1s;
        transition: all 0.3s ease-in-out 0.1s;
        width:100%;
        overflow:hidden;
    }

    #btnAddDealer{
        position: absolute;
        right: 20px;
        bottom: 20px;
        display: block;
    }

    #dealerDetail {
        -webkit-transition: all 0.15s ease-out;
        transition: all 0.15s ease-out;
        background: #f7f7f7;
        overflow: hidden;
        width:0%;
    }

    #dealerList.shrinked{
        -webkit-transition: all 0.15s ease-out;
        transition: all 0.15s ease-out;
        width: 0%;
    }
    #dealerDetail.grow {
        width: 100%;
        -webkit-transition: all 0.15s ease-out 0.15s;
        transition: all 0.15s ease-out  0.15s;
    }
     @media (min-width: 992px) {
        #dealerList.shrinked {
            -webkit-transition: all 0.15s ease-out;
            transition: all 0.15s ease-out;
            width: 50%;
        }

        #dealerDetail.grow {
            width: 50%;
            -webkit-transition: all 0.2s ease-in-out 0.15s;
            transition: all 0.2s ease-in-out 0.15s;
        }
    }

    @media (min-width: 1200px) {
        #dealerList.shrinked {
            -webkit-transition: all 0.15s ease-out;
            transition: all 0.15s ease-out;
        }

        #dealerDetail.grow {
            width: 50%;
            -webkit-transition: all 0.2s ease-in-out 0.15s;
            transition: all 0.2s ease-in-out 0.15s;
        }
    }
</style>