<!-- Prepare a Dom with size (width and height) for ECharts -->

<paper-card class="fit" style="height:100%;overflow:hidden;" elevation="3">
    
    <paper-header-panel class="col-xs-12" style="height:100%;position:relative;">
        <paper-toolbar>
            <paper-icon-button id="paperToggle" icon="menu" paper-drawer-toggle></paper-icon-button>
            <paper-item class="flex" style="padding:0px;">
                <paper-item-body two-line>
                    <div>Dashboard</div>
                    <div secondary>
                        Flow Summary
                    </div>
                </paper-item-body>
            </paper-item>
        </paper-toolbar>
        <div class="fit">
            <div id="dashboard" style="position:relative;height:100%;width:100%;"></div> 
        </div>
        

    </paper-header-panel>

</paper-card>



<!--<paper-toolbar style="background-color:#eee;">
    <paper-icon-button id="paperToggle" icon="menu" paper-drawer-toggle style="color:rgb(125, 125, 125);"></paper-icon-button>
    <paper-item class="flex" style="padding:0px;">
        <paper-item-body two-line>
            <div style="color:black;">Home</div>
            <div secondary style="color:grey">
                Dashboard
            </div>
        </paper-item-body>
    </paper-item>
</paper-toolbar>

<div id="dashboard" style="height:100%;"></div>-->
<!-- ECharts import -->
