<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<dom-module id="agent-info">

    <template>
     
        <paper-item>
            <paper-item-body two-line>
                <div><span>{{name}}</span></div>
                <div secondary style="color:gray">{{agentId}}</div>
            </paper-item-body>
        </paper-item>
    </template>
</dom-module>

<script>

    Polymer({

        is: 'agent-info',

        properties: {

            name: {
                type: String,
                notify: true
            }
        }
    });
    

</script>
