<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<dom-module id="deal-info">

    <template>

        <paper-item on-tap="dealDelete">
            <paper-item-body two-line>
                <div><span>{{dealId}}</span></div>
                <div secondary style="color:gray;display:inline-flex;justify-content:space-between">
                    <span>Amount: <b>{{dealAmount}}</b></span>
                    <span>Out: <b>{{dealOut}}</b></span>
                    <span>In: <b>{{dealIn}}</b></span>
                </div>
            </paper-item-body>
        </paper-item>
    </template>
</dom-module>

<script>

    Polymer({

        is: 'deal-info',

        properties: {

            dealId: {
                type: String,
                notify: true
            },
            dealAmount: {
                type: String,
                notify: true
            },
            dealOut: {
                type: String,
                notify: true
            },
            dealIn: {
                type: String,
                notify: true
            }
        },
        ready:function(){
            console.log(this.dealId);
        },
        dealDelete: function () {
            this.$scope.delete(this);
        }
    });


</script>
